{% extends "base.html" %} {% block content %}
<div class="card mt-5" style="width: 18rem">
    <img src="{{ event.eventImage.url }}" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <p class="card-text">{{ event.description }}</p>
        <p class="card-text">{{ event.nbrParticipants }}</p>
        <a href="{% url 'events_listC' %}" class="btn btn-dark">Go back</a>
        <a
            href="{% url 'events_participate' event.id %}"
            class="btn btn-secondary"
            >Participate</a
        >
    </div>
</div>
{% endblock content %}
